{% extends "base.html" %} {% block content %}
<h1>Number of Users: <span id="userCount">Loading...</span></h1>
<div class="note-container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">My Notes</h1>
      <ul class="list-group list-group-flush" id="notes">
        {% for note in notes %}

        <div class="text_items">
          <li
            class="list-group-item bg-dark d-flex justify-content-between align-items-center"
          >
            <div>
              <span class="note-title">Title: {{ note.title }}</span
              ><br /><br />
              <span class="note-data">{{ note.data }}</span><br /><br />
              <span class="note-author">Author: {{ note.author }}</span><br />
              <small class="note-date">{{ note.date }}</small>
            </div>
            <button
              type="button"
              class="close"
              data-note-id="{{ note.id }}"
              onClick="deleteNote(this.getAttribute('data-note-id'))"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
        </div>
        <br />
        {% endfor %}
      </ul>
      <form method="POST" class="mt-4">
        <div class="form-group">
          <label for="title"><font size="+2" weight="bold">Title:</font></label>
          <br />
          <input
            type="text"
            name="title"
            size="30"
            id="title"
            class="form-control"
            required
          />
          <br />
          <label for="note"><font size="+2">New Note:</font></label>
          <textarea
            class="form-control"
            name="note"
            id="note"
            rows="3"
          ></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
